#upload{
    padding: 10px 50px;
}
#upload-container{
    background-color: white;
    height: 45vh;
    padding:20px;
}
#upload-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    background-color: rgba(230, 231, 231, 0.452);
    border: 2px dotted rgba(0, 0, 0, 0.548);
    height: 100%;
}
#browse-btn{
    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.548) ;
    padding:8px;
    font-size: 15px;
    border-radius: 6px;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.733)
}
